  <div class="flex-container">
    <h3>Billing Data</h3>
    <br>
    
    <form class="search-form">
      <mat-form-field appearance="fill">
        <mat-label>Month and Year</mat-label>
        <input matInput [matDatepicker]="dp1" [formControl]="month">
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1
                        startView="multi-year"
                        (yearSelected)="chosenYearHandlerForMonthFilter($event)"
                        (monthSelected)="chosenMonthHandlerForMonthFilter($event, dp1);applyFilter()"
                        panelClass="month-picker">
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput [matDatepicker]="dp2" [formControl]="year">
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2
                        startView="multi-year"
                        (yearSelected)="chosenYearHandlerForYearFilter($event, dp2);applyFilter()"
                        panelClass="year-picker">
        </mat-datepicker>
      </mat-form-field>
    </form>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    

      <ng-container matColumnDef="bookingDate">
        <th mat-header-cell *matHeaderCellDef> Booking Date </th>
        <td mat-cell *matCellDef="let element"> {{element.bookingDate | date : 'dd.MM.yyyy' }} </td>
      </ng-container>
    

      <ng-container matColumnDef="beneficiaryOrPayer">
        <th mat-header-cell *matHeaderCellDef> Beneficiary/Payer </th>
        <td mat-cell *matCellDef="let element"> {{element.beneficiaryOrPayer}} </td>
      </ng-container>
    

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount | number:'1.0-5'}} </td>
      </ng-container>
    

      <ng-container matColumnDef="usage">
        <th mat-header-cell *matHeaderCellDef> Usage </th>
        <td mat-cell *matCellDef="let element"> {{element.usage}} </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let element">
        <mat-button-toggle-group >
         
          <div *ngFor="let tag of tags">
            <div *ngIf="element.tag">
              <div *ngIf="element.tag.name===tag.name">
              <mat-button-toggle value={{tag.name}} (change)="onValChange($event.value,element)" disabled="tag.name">
                <mat-icon color="primary">label</mat-icon>{{tag.name}}</mat-button-toggle>
            </div>  
            <div *ngIf="element.tag.name!=tag.name">
              <mat-button-toggle value={{tag.name}} (change)="onValChange($event.value,element)"><mat-icon color="primary">label</mat-icon>{{tag.name}}</mat-button-toggle>
            </div>  
            </div>
            <div *ngIf="!element.tag">
              <mat-button-toggle value={{tag.name}} (change)="onValChange($event.value,element)"><mat-icon color="primary">label</mat-icon>{{tag.name}}</mat-button-toggle>
            </div>
            
          </div>
        </mat-button-toggle-group>
      </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <br>

  </div>
