<form class="flex-container">
     <input type="file" (change)="onChange($event)" >     
     <button mat-raised-button (click)="onUpload()" class="btn btn-success" color="primary">
          Upload
     </button>
     <div *ngIf="uploadSuccessful===true && submitted===true" class="success-msg">
          <p>File uploaded successfully</p>
     </div>
     <div *ngIf="uploadSuccessful===false && submitted===true" class="error-msg">
          <p>Error while uploading file</p>
     </div>
</form> 