<form class="flex-container">
<h3>Tags</h3>
<mat-list>
  <mat-list-item *ngFor="let tag of tags">
    <h3 mat-line> {{ tag.name }} </h3>
    <button mat-icon-button (click)="delete(tag)">
      <mat-icon class="mat-24">delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
</form>
<form class="flex-container" #formDirective="ngForm">
  <mat-form-field >
    <mat-label>Add tag</mat-label>
    <input matInput #tag [(ngModel)]="inputTag" name="tag">
  </mat-form-field>

  <button mat-icon-button aria-label="Icon button add" (click)="add(tag.value)">
    <mat-icon>add</mat-icon>                                                                                                                                                                                                                                                                                                                                                                                                          
  </button>
  <br>
  <div *ngIf="errorMsg" class="error-msg">
    <p>{{errorMsg}}</p>
  </div>
</form>





 


