.flex-container {
    margin: 55px;
    margin-top: 30px;
    justify-content: space-between;
} 
.flex-row {
    display: table-cell;
    width: 490px;
}
mat-form-field {
    margin-right: 15px;
}
.error-msg {
    color: red;
}
.button-group {
    align-items: flex-end;
}
