<form class="flex-container">
<mat-form-field>
  <mat-label>From date</mat-label>
  <input matInput [matDatepicker]="picker1" name="fromDate" [(ngModel)]="fromDate">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>To date</mat-label>
  <input matInput [matDatepicker]="picker2" name="toDate" [(ngModel)]="toDate">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>


<button mat-raised-button color="primary" (click)="generateSummary()">Generate Report</button>

<br>
<br>
<table mat-table [dataSource]="spendSummary" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef> Tag </th>
      <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef> Total Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.totalAmount | currency:'EUR':true:'1.2-2'}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef> Percentage </th>
      <td mat-cell *matCellDef="let element"> {{element.percentage | number:'1.2-2'}}% </td> 
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</form>
  
